* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #FFE0B1;
}

nav li {
	display: inline-block;
	margin: 20px 0;
}

.image_header img {
	display: block;
	width: 400px;
	margin: 0 auto;
}

.header {
	margin-bottom: 10px;
}

.nav {
	text-align: center;
	margin-left: -15px;
    margin-right: -15px;
    background-color: #FFBB42;
	box-shadow: 0px 0px 5px #975F0B;
	border-radius: 3px;
}

.nav__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav__list > li a {
	text-decoration: none;
	color: #7A5313;
	padding: 10px;
	margin-left: 10px;
	max-width: 0 10px;
	font-weight: bold;
	font-size: 18px;
	box-shadow: 0px 3px 10px #FFDA9A;
}
.nav__list > li a:hover {
	text-decoration: none;
	background-color: #FF9442;
	color: white;
	font-weight: bold;
	box-shadow: 3px 3px 10px #EA883D;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}
.nav__list > li a:active {
	text-decoration: none;
	background-color: #EA883D;
	color: white;
	font-weight: bold;
}
/*---------------------------*/
.left_menu {
	padding: 0;
	margin-left: -15px;
	text-align: left;
	background-color: #FFBB42;
	box-shadow: 0px 0px 5px #975F0B;
}

.left_menu__list {
	padding-left: 10px;
	margin: 0;
	list-style-type: none;
	
}

.left_menu__list > li {
	width: 80%;
	margin: 10px 0 10px 10px;
	/*box-shadow: 3px 3px 10px #FFDA9A;*/
}
.left_menu__list > li a {
	display: block;
	text-decoration: none;
	color: #7A5313;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 10px;
	box-shadow: 0px 3px 10px #FFDA9A;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.left_menu__list > li a:hover {
	display: block;
	text-decoration: none;
	background-color: #FF9442;
	color: white;
	font-weight: bold;
	box-shadow: 0px 3px 10px #EA883D;
}

/*-----------------------------*/
/*.container > .row:nth-child(2) {
	margin-top: 10px;
	padding-bottom: 50px;
	background-color: #FFEACA;
	border-radius: 3px;
}*/

.container > .row:nth-child(2) {
	/*background-color: black;*/
	padding-bottom:10px;
}
.container > .row:last-child {
	/*background-color: #FFBB42;*/
	padding-top: 20px;
}

h2, h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0;
	text-align: center;
	color: #714C12;
}

.icon_menu {
	padding-right: 10px;
}

hr {
	margin: 0 auto;
	width:  80%;
	box-shadow: 0px 3px 10px white;
}

/*-----------------------------------*/
.img_first {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 20%;
	filter: drop-shadow(10px 0px 9px black);
}

.img_in_text {
	margin: 10px 30px 10px 0;
	width: 40%;
	float: left;
	box-shadow: 1px 1px 5px black;
}

.main_text {
	line-height: 30px;
	margin: 0;
	color:  #7A5313;
	text-align: justify;
	padding: 20px 10px 5px 0px;
}

.media_text {
	position: relative;
	line-height: 30px;
	font-size: 14px;
	color:  #7A5313;
	text-align: justify;
	padding: 20px 15px 18px 0px;
}
/*---------------------------------*/
.image_and_text {
	height: 320px;
}

.img_media {
	position: absolute;
	z-index: 1;
	margin: 0px 30px 10px 0;
	width: 100%;
	box-shadow: 1px 1px 5px black;
	transition-duration: 1s;
	/*top:  20px;*/
	/*bottom:  100px;*/
	transform-origin: top right;
	padding-bottom: 0;
}

.img_media:active {
	z-index: 2;
	margin: 20px 30px 10px 0;
	width: 100%;
	box-shadow: 1px 1px 5px black;
	transform: rotate(-90deg);
}
.img_media:hover {
	z-index: 2;
}


/*---------------------------------*/
table {
	border-spacing: 5px 5px;
	width: 100%;
	padding-left: 10px;
}

th {
	border: 1 px solid black;
	background-color: #FFE5BB;
	padding: 10px;
	box-shadow: 0px 2px 10px #FFCA74;
}

td {
	border: 1 px solid black;
	background-color: #FFE5BB;
	padding: 10px;
	box-shadow: 0px 2px 10px #FFCA74;
}

td:hover {
	border: 1 px solid black;
	background-color: #FFCA74;
	padding: 10px;
	/*box-shadow: 0px 3px 10px black;*/
}

/* ---------------------------------- */
.form {
	text-align: center;
	margin-top: 10px;
}
.form input {
	font-size: 14px;
	margin: 0;
	padding: 10px;
	height: 15px;
	width:  170px;
	border: none;
	background-color: #FFD28E;
}
.input_group, .input_image {
	display: inline-block;
}

.input_group {
	background-color: #FFD28E;
	width:  210px;
	height: 40px;
	margin: 10px 5px;
	border-radius: 3px;
}

.input_group.submit {
	background-color: #AC6A00;
	padding: 9px 0 0 0;
	box-shadow: 0 2px 10px #4A2E00;
}
.input_group.submit > input {
	background-color: #AC6A00;
	color: white;
	width: 150px;
	padding: 0;
}

.input_image {
	/*margin-left: -7px;*/
	margin: 5px 0;
}
.input_group img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}


.main_photo > img {
	width: 70%;
	height: 70%;
	box-shadow: 0 14px 35px #A06C19;
}
.main_photo {
	position: relative;
	top:  20px;
	text-align: center;
}
.row.footer::before {
	content: "";
	display: block;
	height: 30px;
}
.row.footer h2 {
	text-align: right;
	font-weight: 700;
	margin-bottom: 5px;
}
.contact_list li {
	display: inline-block;
	margin: 20px 10px;
}
.contact_list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
}